@media (min-width: 1024px) {

    #hamburger {
        display: none;
    }

    #nav {
        display: grid;
        grid-template-columns: 1fr 3fr;
        
    }

    nav {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    #nav img {
        width: 100%;
    }
    
    #menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        margin: auto;
        width: 100%;
        height: 100%;
        
    }

    #menu li {
        grid-row: 1/4;
        align-self: center;
        height: 100%;
    }
    
    #menu li a, #menu li a h3 {
        height: 30%;
        font-size: 1.5rem;
    }

    #menu li a h3 {
        padding-top: 2.4rem;
        padding-bottom: 2rem;
    }


}