@media (min-width: 768px) {

    #webheader p {
        font-size: 1.2rem;

    }
    
    #hamburger {
        font-size: x-large;
    }

    #hero {
        grid-template-columns: 1.2fr 1fr;
        grid-template-rows: repeat(6, 0.2fr);
    }

    #hero h1 {
        font-size: 1.5rem;
        padding: 1.5rem;
        text-align: center;
        line-height: 2.5rem;
        border-radius: 2rem;
        margin-right: 1rem;
    }

    #highlights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #highlights h2 {
        font-size: 1.8rem;
    }


    #forecast {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #forecast h2 {
        font-size: 1.8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

    }

    footer p {
        font-size: 1rem;
    }

    #location { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6,1fr);
        font-family: "Mulish", sans-serif;
        background-color: var(--second-bgcolor);
        color: var(--second-txtcolor);
        
    }
    
    #location iframe {
        grid-row: 1/7;
    }
    
    #location p:nth-of-type(1) {
        grid-row: 2/3;
        width: 80%;
        margin: 0 auto;
    }
    
    #location p:nth-of-type(2) {
        grid-row: 3/4;
        width: 80%;
        margin: 0 auto;
    }
    
    #location p:nth-of-type(3) {
        grid-row: 4/5;
        width: 80%;
        margin: 0 auto;
    }
    
    #location h2 {
        grid-row: 1/2;
        width: 80%;
        margin: auto;
        font-family: "Shrikhand", sans-serif;
        font-weight: 400;
    }

}