@import url('https://fonts.googleapis.com/css2?family=Teko');
@import url('https://fonts.googleapis.com/css2?family=Patua+One');


html {
    background-color: #EDE7E3;
    
}

body {
    background-color: white;
}


h1 {
    font-family: 'Teko', sans-serif;
    font-size: 5rem;
}

h2 {
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
}


header section {
    background-color: #011627 ;
    color: #489FB5;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EDE7E3;
    
}

section#header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 0.3fr;
    text-align: center;
    
}

header section h2 {
    grid-column: 1/3;
    font-size: 1.5rem;
    
}

header section picture {
    grid-row: 1/2;
    margin: 0 auto;
    z-index: 1;
}


button#hamburger span {
    font-size: 2rem;
    
}

nav ul {
    display:none; 
}

nav ul.open {
    display: block; margin: 0; 
}




header nav {
    display: block;
}

#hamburger {
    margin-left: 0.3rem;
    width: 3rem;
    padding: 0;
}

#hamburger span:nth-child(1) {
    display: block;
    
}


#hamburger span:nth-child(2) {
    display: none;
}

#hamburger.open span:nth-child(1) {
    display: none;
}


#hamburger.open span:nth-child(2) {
    display: block;
}

li a:hover {
    
    background-color: #8F6593;
    transition: 0.5s;
}


nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    background-color: #489FB5;

}

nav ul li.active a{
    background-color: #011627;
    color: #EDE7E3;
}


nav {
    background-color: #011627;
}

li {
    height: 100%;
    text-decoration: none;
    color: #011627;
    font-family: 'Teko', sans-serif;
    text-align: center;
    list-style: none;
}


ul li a {
    text-decoration: none;
    color: #011627;
}



ul {
    padding: 0;
}

footer {
    display: block;
    
    background-color: #011627 ;
    color: #489FB5;
    font-family: 'Teko', sans-serif;

}

footer div a p{
    font-size: 1rem;   
    text-align: center;
    background-color: #011627 ;
    color: #8F6593;
    font-family: 'Teko', sans-serif;

}

footer div p, footer div a {
    color: #489FB5;
    text-align: center;
    font-size: 1.2rem;
    
}

footer p:hover {
    color: #489FB5;
}

main {
    padding-bottom: 2rem;
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
    width: 95%;
}

main section {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
}


main h2 {
    font-family: 'Teko', sans-serif;
    
    font-size: 2rem;
    color: #011627;
    position: relative;
}

main p {
    font-family: 'Patua One', cursive;
    padding-left: 1rem;
    color: #489FB5;
}

main h3 {
    font-family: 'Patua One', cursive;
    padding-left: 1rem;
    color: #489FB5;
    font-size: 1.5rem;
    padding: 0;
}

main div#spotlight-list {
    padding: 0.5rem;
    border: 1px solid #011627;
    margin: 0 auto;
}

section div h2 {
    padding: 0.5rem;
    
    margin: 0 auto;
}

footer div a {
    text-decoration: none;
    
}

main p {
    padding: 5px;
}

footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 {
    font-size: 3.5rem;
}

main h2 {
    font-size: 3rem;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

h3 {
    font-size: 1.5rem;
    margin: 0 auto;
}



main table {
    margin: 0 auto;
    display: table-header-group;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}


footer img {
    width: 5rem;
    margin: 0 auto;
    display: block;
}
    
footer h2 {
    text-align: center;
}

header nav a, header nav a img {
    height: 2.2rem;
}
    
.join-box {
    display: none;
}

.join-button h3{
    background: #489FB5;
    color: #011627;
    height: inherit;
    width: 90%;
    border-radius: 10px;
    text-decoration: none;
}

.join-box a {
    text-decoration: none;
}

.join-box h3:hover {
    text-decoration: none;
    background-color: #8F6593;
    transition: 0.5s;
}

header p {
    background-color: #EDE7E3;
    color: #8F6593;
    font-family: 'Patua One', cursive;
    margin: 1em auto;
    text-align: center;    
}

.temp-icon {
    width: 5rem;
    grid-column: 1/3;
    margin: 0 auto;
}

section span {
    display: block;
    font-family: 'Patua One', cursive;
    grid-column: 1/3;
}

.temp-description {
    color: #8F6593;
    font-style: italic;
    grid-column: 1/3;
}

.hero-box picture {
    width: 100%;
    display: block;
    grid-column: 1/2;
    grid-row: 1/5;
    object-fit: cover;
    height: 100%;
}

.hero-box {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr;
}

.hero-box h2 {
    background-color: #8F6593;
    color: #EDE7E3;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 1rem;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 100;
}

section div img {
    width: 50%;
}

.spotlight-list h2 {
    font-size: 2.0rem;
}

.spotlight-list h3 {
    font-size: 1.0rem;
}

.spotlight-list a {
    color: #8F6593;
}

section img {
    width: 100%;
}

.weather-box {
    width: 80%;
    display: grid;
}

.weather-box h3 {
    font-size: 1rem;
}

.weather-box span:nth-of-type(1) {
    grid-column: 2/3;
}

.weather-box span:nth-of-type(2) {
    grid-column: 2/3;
}
.weather-box span:nth-of-type(3) {
    grid-column: 2/3;
}
.weather-box span:nth-of-type(4) {
    grid-column: 2/3;
}

.weather-box h2 {
    grid-column: 1/3;
}

.weather-box h3:nth-of-type(1) {
    grid-column: 1/2;
}

.weather-box h3:nth-of-type(2) {
    grid-column: 1/2;
}
.weather-box h3:nth-of-type(3) {
    grid-column: 1/2;
}
.weather-box h3:nth-of-type(4) {
    grid-column: 1/2;
}

.news-box li {
    list-style: square;
    text-align: left;
}

nav a img {
    height: 80%;
    
    float: right;

}

span.conditions {
    grid-column: 2/3;
}

#discover img {
    grid-column: 1/4;
    grid-auto-flow: column;
    justify-self: center;
    width: 90%;
    margin-bottom: 1rem;
}

#discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#discover h2, #discover p  {
    margin: 0;
    text-align: center;
    width: 90%;
}

#join {
    display: grid;
}

#join label {
    display: grid;
    text-align: left;
    font-family: 'Patua One', cursive;
    margin: 20px auto;
}


label input:required:valid {
    
    border-left: #489FB5 solid 8px;
    border-right: #489FB5 solid 8px;
}

label input:required {
    
    border-left: #8F6593 solid 8px;
    border-right: #8F6593 solid 8px;
}

#join label.membership {
    display: block;
}

#np {
    background-color: #489FB5;
    color: #EDE7E3;
    border-radius: 1rem;
}

#bronze {
    background-color: burlywood;
    border-radius: 1rem;
}

#silver {
    background-color: silver;
    border-radius: 1rem;
}

#gold {
    background-color: gold;
    border-radius: 1rem;
}

#thankyou {
    display: block;
    text-align: center;
}

button, input {
    border-radius: 1rem;
    padding-left: 1rem;
    border: #011627 solid 0.15rem;    
    margin-top: 0.3rem;
}

#form {
    width: 90%;
    margin: auto;
}

#membership-info article {
    width: 90%;
    margin: auto;
    
}

#membership-info article p {
    text-align: left;
    
}

#membership-info article h3 {
    padding-left: 1rem;
}



#membership-info article img {
    width: 80%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5rem;
}

#join h3, #join p {
    text-align: left;
    width: 95%;

}

#directory {
    display: block;
    background-color: #EDE7E3;
}

#directory > section {
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#directory a {
    color: #8F6593;
}

#directory > h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#directory button {
    text-align: center;
    padding: 0;
    width: 30%;
    height: 2rem;
    font-size: 1.5rem;
}

.json-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    
}

.json-grid section {
    background-color: #EDE7E3;
    height: 100%;
    border: 0.1rem solid #8F6593;
    border-radius: 1rem;
    box-shadow: 10px 10px 30px #8F6593;
    padding: 0  ;
}

.json-grid section img {
    width: 60%;
    border-radius: 1rem;
}

.json-list {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    
}

.json-list section {
    display: flex;
    align-items: center;
    background-color: #EDE7E3;
    height: 100%;
    border: 0.1rem solid #8F6593;
    border-radius: 1rem;
    box-shadow: 10px 10px 30px #8F6593;
    padding: 0  ;
}

.json-list section img {
    flex-direction: column;
    text-align: center;
    width: 15%;
    border-radius: 1rem;
    order: -1;
}

.json-list h2 {
    width: 30%;
    font-size: 0.8rem;
}
.json-list h3 {
    font-size: 0.4rem;
}

#contact {
    display: block;
}

.eliococ {
    width: 80%;
    grid-column: 2/3;

}

#contact article{
    display: block;
    width: 100%;
    
}

article h1, article h2, article h3 {
    width: 90%;
    text-align: left;
    margin: 0 auto;
    grid-column: 1/2;
}

#contact article img {
    display: block;
    margin: 0 auto;
    place-self: center;
}

#contact label {
    display: grid;
    font-family: "Patua One", cursive;
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 20px auto;
}

#contact input {
    width: 100%;
    margin: 0 auto;

}

#form-contact {
    width: 90%;
    margin: auto;
}

#form-contact-container {
    margin-top: 2rem;
}

input[type="submit"] {
    background-color: #8F6593;
    color: #EDE7E3;
}